h1{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}